Q1. What is a database? Differentiate between SQL and NoSQL databases.

SQL :  RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)
Nosq :  Non-relational or distributed database system.

ANS : 
    
A database is a collection of data that is organized in a systematic way, making it easy to access, manage, and update.

SQL : Relational database management system 


NOSQL : Non-relational or distributed database system.

SQL : These databases have fixed or static or predefined schema

NOSQL :  They have dynamic schema

SQL : These databases are not suited for hierarchical data storage.

NOSQL : These databases are best suited for hierarchical data storage.

SQL : Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc

NOSQL :  Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

ANS : 
    
DDL stands for Data Definition Language. It is a set of SQL commands used to define, modify, and delete database objects such as tables, indexes, constraints, and views. The four primary commands in DDL are CREATE, DROP, ALTER, and TRUNCATE.

1. CREATE: 

CREATE is used to create new database objects such as tables, views, indexes, and stored procedures.

CREATE DATABASES TEST_DATABASE;

USE TEST_DATABASE ;

CREATE TABLE STUDENT(C1 INT,C2 VARCHAR(20),C2 INT);

DROP:

DROP is used to delete an existing database object.

DROP TABLE STUDENT;

ALTER:
    
ALTER is used to modify an existing database object such as a table or column.  

ALTER TABLE ADD COULMN Name VARCHAR(24);

TRUNCATE

The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

ANS :  Stand for  data manipulation language statements are used to retrieve, add, delete, and modify the data that is stored in the objects of database.

A) INSERT : The INSERT statement is used to insert a new row in the database that is adding data to a table.

EXAMPLE :  INSERT INTO STUDENTS VALUES(123,'SIDDHU',21);

b) UPDATE : The UPDATE statement is used to update the data or row in the table.

EXAMPLE :   UPDATE STUDENTS SET C2 = 'BABLU' WHERE C1 = 123 ;

C) DELETE :   The DELETE statement is used to delete existing records in a table.

EXAMPLE :  DELETE FROM STUDENTS WHERE C2='BABLU';

Q4. What is DQL? Explain SELECT with an example.

ANS :  DQL stand for  Data Query Language  DQL statements are used for performing queries on the data within schema objects. 
    
    
SELECT :   SELECT  statement retrieves records from a database table according to clauses (for example, FROM and WHERE ) that specify criteria.

EXAMPLE :  SELECT * FROM STUDENTS ;

Q5. Explain Primary Key and Foreign Key.

ANS :  
    
PRIMARY KEY :  A primary key is the column or columns that contain values that uniquely identify each row in a table. A database table must have a primary key for Optim to insert, update, restore, or delete data from a database table.

FOREIGN KEY :  A foreign key is a column (or combination of columns) in a table whose values must match values of a column in some other table. FOREIGN KEY constraints enforce referential integrity, which essentially says that if column value A refers to column value B, then column value B must exist.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector 

mydb = mysql.connector.connect(
host = 'localhost',
user = 'abc',
password = 'password')

print(mydb)

cursor :  It is an object that is used to make the connection for executing SQL queries. It acts as middleware between SQLite database connection and SQL query. It is created after giving connection to SQLite database.

execute :  To execute a SQL query in Python, you'll need to use a cursor, which abstracts away the access to database records. MySQL Connector/Python provides you with the MySQLCursor class, which instantiates objects that can execute MySQL queries in Python. An instance of the MySQLCursor class is also called a cursor .

Q7. Give the order of execution of SQL clauses in an SQL query.

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.